.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkoutProduct__info {
    padding-left: 20px;
}
.checkoutProduct__info > button {
    background: orange;
    color: #111;
    border-color: orangered olivedrab orange;
    margin-top: 10px;
    border: 1px solid;
    font-size: 11px;
}
.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkoutProduct__rating {
    display: flex;
}
.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}