.order {
    padding: 40px;
    margin: 20px 0;
    background-color: #fff;
    border: 1px solid lightgoldenrodyellow;
    position: relative;
}
.order__id {
    position: absolute;
    top: 70px;
    right: 20px;
}
.order__total {
    font-weight: 500;
    text-align: right;
}